.post {
    display: flex;
    width: 400px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.post1{
    margin-top: 20px;
    margin-left: 20px 
}
.post__image {
    max-width: 400px;
    max-height: 300px;
}
.post__text {
 margin: 20px 0px 20px 20px
}
.post__text {
    font-weight: normal;
    padding: 5px;
}
.post__form {
    display: flex;
    margin-top: 20px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10px;
}
.post__input {
    flex: 1;
}
/* comment section */

.comment_message {
    background-color: #DCF8C6; /* Background color of the message */
    padding: 10px;
    border-radius: 10px; /* Rounded corners for the message */
    margin-bottom: 10px; /* Spacing between messages */
    position: relative; /* For absolute positioning of the time */
  }
  
  .time_posted {
    position: absolute;
    bottom: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    font-size: 12px;
    color: #666; /* Color of the time */
  }

  .commentor {
    position: relative;
    padding-top:1px;
    margin-top: 1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  /* the home css */

  html, body, .container {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
  }
  
  .left-panel, .right-panel, .center-panel {
    flex: 1;
   /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  
  .left-panel {
    background-color: #e0e0e0;
    flex-direction: column;
  }
  
  .center-panel {
    background-color: #e0e0e0;
  }
  
  .right-panel {
    background-color: #e0e0e0;
  }



  /* profile user acount */
  .user_profile {
    margin: auto; /* Center the profile horizontally */
    width: 80%; /* Adjust the width as needed */
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.profile__header {
    text-align: center; /* Center align content within the header */
}


.profile__item {
    display: flex; /* Display list items as flex containers */
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center align items vertically */
}

.profile__avatar {
    margin-right: 100px; /* Adjust margin as needed */
    justify-content: center;
    align-items: center;
    background-color: black;
}

.profile__name {
    font-size: 24px; /* Adjust font size */
}

.profile__text {
    text-align: center; /* Center align text */
}

.profile__item_avatar {
    display:none; /* Display as flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: black;
}

/* chalist */
.chatlist{
    width: 400px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}